{% extends 'base.html.twig' %}

{% block title %}
    Forum
{% endblock title %}

{% block body %}
    <div class="d-flex container-fluid justify-content-center">
        <h1>Forum</h1>
    </div>

    <!-- Functional container -->
    <div class="d-flex flex-column container justify-content-around">

        <!-- This button redirects user to /query route -->
        <a class="btn btn-primary" href="{{ url('forum_show_query') }}" role="button">Show query result</a>
        <!--  -->

        <!-- This button redirects user to /new route -->
        <a class="btn btn-primary" href="{{ url('forum_new_message') }}" role="button">Add new message</a>
        <!--  -->

    </div>
    <!--  -->

{% endblock body %}